In [1]:
import numpy as np
import pandas as pd
import os
import sys
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
# cleanse_pipe is a cleanse script I made for this project.
from cleanse_pipe import cleanse_data
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import math
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import time
import pycaret
from sklearn.svm import LinearSVC

from pycaret.classification import *

# This is my next stab at improving my model
from sklearn.ensemble import VotingClassifier

In [2]:
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data, passengers = cleanse_data(train)

del[data['Age'], data['Fare'], data['Embarked_C']]
# %%
data.head()

,Survived,Pclass,SibSp,Parch,Embarked_Q,Embarked_S,Alone,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Ms,Sex_Male,Farebin,Agebin
0,0,3,1,0,0,1,0,0,0,1,0,0,1,2,2
1,1,1,1,0,0,0,0,0,0,0,1,0,0,5,4
2,1,3,0,0,0,1,1,0,1,0,0,0,0,2,2
3,1,1,1,0,0,1,0,0,0,0,1,0,0,5,4
4,0,3,0,0,0,1,1,0,0,1,0,0,1,2,4

In [4]:
data['Survived'].mean()

0.3838383838383838

In [5]:
# normalize data since we are going to be using models that need normalization
exp_clf = setup(data, target = 'Survived', train_size = .85, normalize= False, log_experiment= False)

In [6]:
# exp_clf[0].head()

#%%

best = compare_models()
# %%

In [7]:
catboost = create_model('gbc')

In [8]:
tuned_cat = tune_model(catboost, n_iter= 100)

In [9]:
tuned_cat

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.4, loss='deviance', max_depth=2,
                           max_features=1.0, max_leaf_nodes=None,
                           min_impurity_decrease=0.4, min_impurity_split=None,
                           min_samples_leaf=2, min_samples_split=7,
                           min_weight_fraction_leaf=0.0, n_estimators=120,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=418, subsample=0.5, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [10]:
test = pd.read_csv('test.csv')
test_data, passengers1 = cleanse_data(test)

del[test_data['Age'], test_data['Fare'], test_data['Embarked_C']]

preds = predict_model(tuned_cat, data = test_data)

ready_preds = pd.DataFrame({"PassengerId" : passengers1, "Survived" : preds['Label']})

ready_preds.to_csv('titanic_preds.csv', index = False)

In [11]:
ready_preds.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [12]:
ready_preds['Survived'].mean()

0.35167464114832536

In [13]:
data1 = data.copy()
target = data1['Survived']
del[data1['Survived']]

# del[data1['Age'], data1['Fare'], data1['Embarked_C']]

data1.head()

,Pclass,SibSp,Parch,Embarked_Q,Embarked_S,Alone,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Ms,Sex_Male,Farebin,Agebin
0,3,1,0,0,1,0,0,0,1,0,0,1,2,2
1,1,1,0,0,0,0,0,0,0,1,0,0,5,4
2,3,0,0,0,1,1,0,1,0,0,0,0,2,2
3,1,1,0,0,1,0,0,0,0,1,0,0,5,4
4,3,0,0,0,1,1,0,0,1,0,0,1,2,4

In [14]:
data1.describe()

,Pclass,SibSp,Parch,Embarked_Q,Embarked_S,Alone,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Ms,Sex_Male,Farebin,Agebin
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,0.523008,0.381594,0.086420,0.725028,0.602694,0.056117,0.204265,0.592593,0.140292,0.006734,0.647587,3.204265,2.940516
std,0.836071,1.102743,0.806057,0.281141,0.446751,0.489615,0.230276,0.403390,0.491628,0.347485,0.081830,0.477990,1.208037,1.362354
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
50%,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,3.000000,3.000000
75%,3.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,4.000000,4.000000
max,3.000000,8.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000

In [15]:
# Standardize continuous variables

def standardScale_custom(x) :
    new_data = []
    stan_mean = np.mean(x)
    stan_std = np.std(x)
    for row in x :
        new_data.append((row - stan_mean) / stan_std)
    return new_data
    
#for col in ['Age','Fare'] :
 #   data1[col] = standardScale_custom(data1[col])

In [16]:
x_train, x_test, y_train, y_test = train_test_split(data1, target, test_size=0.15, random_state= 546)

In [17]:
print(y_train.mean(), y_test.mean())

0.3817701453104359 0.39552238805970147

In [18]:
svm = LinearSVC(penalty = 'l2', loss = 'squared_hinge', C = 0.5, fit_intercept= True, max_iter = 1000)

svm_fit = svm.fit(x_train, y_train)
svm_predict = svm_fit.predict(x_train)

print(classification_report(y_train, svm_predict))

              precision    recall  f1-score   support

           0       0.85      0.89      0.87       468
           1       0.81      0.75      0.78       289

    accuracy                           0.84       757
   macro avg       0.83      0.82      0.83       757
weighted avg       0.84      0.84      0.84       757

In [19]:
search_params = {"C" : [.01,.5,.8,1,2,5,7,10],
    "loss" : ['hinge', 'squared_hinge'],
    "fit_intercept" : [True,False]
}

grid = GridSearchCV(svm, param_grid= search_params, n_jobs = -1, cv = 10)

grid_fit = grid.fit(x_train, y_train)

print(grid_fit.best_params_)
print(grid_fit.best_score_)

{'C': 0.8, 'fit_intercept': True, 'loss': 'squared_hinge'}
0.8375789473684211

In [27]:
test = pd.read_csv('test.csv')
test_data, passengers1 = cleanse_data(test)

del[test_data['Age'], test_data['Fare'], test_data['Embarked_C']]

preds = grid_fit.predict(test_data)

ready_preds = pd.DataFrame({"PassengerId" : passengers1, "Survived" : preds})

ready_preds.to_csv('/Users/Drew/Documents/git_repos/titanic_model/titanic_preds.csv', index = False)

In [28]:
read_preds.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [22]:
read_preds['Survived'].mean()

0.3875598086124402