In [1]:
import numpy as np
import pandas as pd
import os
import sys
from cleanse_pipe import cleanse_data
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import math
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import time
import pycaret
from pycaret.classification import *

In [2]:
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data, passengers = cleanse_data(train)
# %%
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Alone,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Ms,Sex_Male,Farebin,Agebin
0,0,3,22.0,1,0,7.2500,0,0,1,0,0,0,1,0,0,1,2,2
1,1,1,38.0,1,0,71.2833,1,0,0,0,0,0,0,1,0,0,5,4
2,1,3,26.0,0,0,7.9250,0,0,1,1,0,1,0,0,0,0,2,2
3,1,1,35.0,1,0,53.1000,0,0,1,0,0,0,0,1,0,0,5,4
4,0,3,35.0,0,0,8.0500,0,0,1,1,0,0,1,0,0,1,2,4

In [4]:
# normalize data since we are going to be using models that need normalization
exp_clf = setup(data, target = 'Survived', train_size = .8, normalize= True, log_experiment= False)

In [5]:
# exp_clf[0].head()

#%%

best = compare_models()
# %%

In [6]:
catboost = create_model('rf')

In [7]:
tuned_cat = tune_model(catboost, n_iter= 100)

In [ ]:
test = pd.read_csv('test.csv')
test_data, passengers1 = cleanse_data(test)

preds = predict_model(tuned_cat, data = test_data)

ready_preds = pd.DataFrame(passengers1, columns = ['PassengerId'])
ready_preds['Survived'] = preds['Label']

ready_preds.to_csv('titanic_preds.csv', index = False)